@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  min-height: 100vh;
}

body * {
  font-size: 14px;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}